<section class="content animated zoomIn">
    <div class="logo"></div>
    <form name="form">
        <div class="input" ng-class="{'has-error':(form.user.$touched && form.user.$invalid)}">
            <label for="user">Usuario</label>
            <i class="fa fa-user"></i>
            <input type="text" name="user" id="user" ng-model="fr.user" required autofocus>
            <span ng-show="form.user.$touched && form.user.$invalid" class="error" >El usuario es requerido.</span>
        </div>
        <div class="input" ng-class="{'has-error':(form.pass.$touched && form.pass.$invalid)}">
            <label for="pass">Contraseña</label>
            <i class="fa fa-key"></i>
            <input type="password" name="pass" id="pass" ng-model="fr.pass" required>
            <span ng-show="form.pass.$touched && form.pass.$invalid" class="error" >La contraseña es requerida.</span>
        </div>
        <div class="input">
            <input ng-disabled="form.user.$invalid || form.pass.$invalid" type="button" name="Init" id="Init" value="Iniciar Sesion" ng-click="fr_Submit()">
        </div>
    </form>
</section>
