<div class="window" ng-class="mtemwin">
    <div class="title">
        <span>Cargos de los operadores</span>
        <i class="fa fa-close" ng-click="close()"></i>
    </div>
    <div class="w-content" ng-control="cplantas">
        <form >
        	<div class="input">
                    <label>Ingrese la cargo del operador</label>
                    <input type="text" name="pname" placeholder="Nombre del cargo" ng-model="cargo.name" required="required" >
        	</div>
        </form>
        <div class="btn-gris">
        	<i class="fa fa-save"></i>
        	<i class="fa fa-trash"></i>
        </div>
        <div class="grid" style="height: 360px;">
        	<span class="gris-title">Listado de cargos de operadores</span>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" name="search" ng-model="search" placeholder="Escriba el cargo a buscar">
        	</div>
                <div class="row r1">
                    <span>Descripción del cargo</span>
                </div>
        	<ul style="height: 265px;">
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
        	</ul>
        </div>
    </div>
</div>