<div class="window" ng-class="mtemwin" style="height: 682px;">
    <div class="title">
        <span>Configuracion de menu</span>
        <i class="fa fa-close" ng-click="close()"></i>
    </div>
    <div class="w-content" ng-control="cplantas">
        
        <div class="btn-gris">
        	<i class="fa fa-save"></i>
        	<i class="fa fa-trash"></i>
        </div>
        <div class="grid" style="height: 388px;">
            
        </div>
        <div class="grid" style="height: 196px;">
            <span class="gris-title">Listado de menus</span>
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" name="search" ng-model="search" placeholder="Escriba el nombre del menu">
            </div>
            <div class="row r1">
                <span>Descripción</span>
            </div>
            <ul style="height: 101px;">
                <li>
                    <div class="row r1">
                        <span>planta 1</span>
                    </div>
                </li>
                <li>
                    <div class="row r1">
                        <span>planta 1</span>
                    </div>
                </li>
                <li>
                    <div class="row r1">
                        <span>planta 1</span>
                    </div>
                </li>
                <li>
                    <div class="row r1">
                        <span>planta 1</span>
                    </div>
                </li>
                <li>
                    <div class="row r1">
                        <span>planta 1</span>
                    </div>
                </li>
                <li>
                    <div class="row r1">
                        <span>planta 1</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>