<div class="window w2" ng-class="mtemwin">
    <div class="title">
        <span>Operadores de planta</span>
        <i class="fa fa-close" ng-click="close()"></i>
    </div>
    <div class="w-content" ng-control="cplantas">
        <form >
            <div class="input inp2 sp">
                <label>Ingrese Nombre</label>
                <input type="text" name="pname" placeholder="Nombre del Operador" ng-model="operador.name" required="required" >
            </div>
            <div class="input inp2">
                <label>Ingrese Apellido</label>
                <input type="text" name="papellido" placeholder="Apellido del Operador" ng-model="operador.fullname" required="required" >
            </div>
            <div class="input inp2 sp">
                <label>Ingrese Telefono</label>
                <input type="text" name="ptlf" placeholder="Telefono del Operador" ng-model="operador.telefono" required="required" >
            </div>
            <div class="input inp2">
                <label>Ingrese Email</label>
                <input type="text" name="pemail" placeholder="Email del Operador" ng-model="operador.email" required="required" >
            </div>
            <div class="input inp2 sp">
                <label>Turnos de Trabajo</label>
                <select ng-model="operador.turno">
                    <option value="D">Diurno</option>
                    <option value="N">Nocturno</option>
                    <option value="M">Mixto</option>
                </select>
            </div>
            <div class="input inp2">
                <label>Cargo del operador</label>
                <select ng-model="operador.cargo">
                    <option value="D">Diurno</option>
                    <option value="N">Nocturno</option>
                    <option value="M">Mixto</option>
                </select>
            </div>
        </form>
        <div class="btn-gris">
        	<i class="fa fa-save"></i>
        	<i class="fa fa-trash"></i>
        </div>
        <div class="grid" style="height: 251px;">
        	<span class="gris-title">Listado de cargos de operadores</span>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" name="search" ng-model="search" placeholder="Escriba el cargo a buscar">
        	</div>
                <div class="row r1">
                    <span>Descripción del cargo</span>
                </div>
        	<ul style="height: 156px;">
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
        	</ul>
        </div>
    </div>
</div>