<div class="window w2" ng-class="mtemwin" style="height: 682px;">
    <div class="title">
        <span>Configuración de usuarios</span>
        <i class="fa fa-close" ng-click="close()"></i>
    </div>
    <div class="w-content" ng-control="cplantas">
        <form >
            <div class="input inp2 sp">
                <label>Usuario</label>
                <input type="text" name="uname" placeholder="Nombre del usuario" ng-model="user.user" required="required" >
            </div>
            <div class="input inp2">
                <label>Ingrese Nombre</label>
                <input type="text" name="uname" placeholder="Nombre del usaurio" ng-model="user.name" required="required" >
            </div>
            <div class="input inp2 sp">
                <label>Ingrese Apellido</label>
                <input type="text" name="uapellido" placeholder="Apellido del usaurio" ng-model="user.fullname" required="required" >
            </div>
            <div class="input inp2">
                <label>Ingrese Email</label>
                <input type="text" name="uemail" placeholder="Email del usaurio" ng-model="user.email" required="required" >
            </div>
            <div class="input inp2 sp">
                <label>Ingrese la contraseña</label>
                <input type="password" name="upass" placeholder="Contraseña del usuario" ng-model="user.pass" required="required" >
            </div>
            <div class="input inp2 ">
                <label>Nivel de acceso</label>
                <select ng-model="user.acceso">
                    <option value="A">Administrador</option>
                    <option value="B">Supervisor</option>
                    <option value="C">Operador</option>
                </select>
            </div>
            <div class="input inp2 sp">
                <label>Estatus</label>
                <select ng-model="user.status">
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                </select>
            </div>
            <div class="input inp2">
                <label>Asignacion de Menu Principal</label>
                <select ng-model="user.menu">
                    <option value="A">Menu A</option>
                    <option value="I">Menu B</option>
                </select>
            </div>
            <div class="input foto">
                <label>Foto del usuario</label>
                <div class="file">
                    <input type="file" name="ufoto" ng-model="user.img" accept="image/jpeg, image/png" >
                    <label for="ufoto"><i class="fa fa-upload"></i>Seleccione una foto</label>
                </div>
                <img src="../img/user.png" >
            </div>
        </form>
        <div class="btn-gris" style="margin-top: 8px;">
        	<i class="fa fa-save"></i>
        	<i class="fa fa-trash"></i>
        </div>
        <div class="grid" style="height: 251px;">
        	<span class="gris-title">Listado de cargos de operadores</span>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" name="search" ng-model="search" placeholder="Escriba el cargo a buscar">
        	</div>
                <div class="row r1">
                    <span>Descripción del cargo</span>
                </div>
        	<ul style="height: 156px;">
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
                    <li>
                        <div class="row r1">
                            <span>planta 1</span>
                        </div>
                    </li>
        	</ul>
        </div>
    </div>
</div>